In [1]:
import pandas as pd

In [3]:
from flask import Flask, request, render_template

app = Flask(__name__)

@app.route('/')
def my_form():
    return render_template('index.html')

@app.route('/', methods=['POST'])
def my_form_post():
    text = request.form['text']
    processed_text = text.upper()
    return processed_text

In [ ]:
my

In [17]:
#Current State
q1 = "A"
q2 = "B"
q3 = "C"

In [18]:
#Next State 0
q1_z = "A"
q2_z = "C"
q3_z = "A"

In [19]:
#Next State 1
q1_o = "B"
q2_o = "A"
q3_o = "B"

In [20]:
#Output
q1_output = 0
q2_output = 1
q3_output = 0

In [21]:
current_state = [q1, q2, q3]
next_state_z = [q1_z, q2_z, q3_z]
next_state_o = [q1_o, q2_o, q3_o]
output = [q1_output, q2_output, q3_output]

In [22]:
moore_dictionary = {q1:q1_output, q2:q2_output, q3:q3_output}

In [23]:
moore_machine = {"Current State": current_state, "0": next_state_z, "1":next_state_o, "Output":output}

In [24]:
moore_machine = pd.DataFrame(moore_machine)
moore_machine.set_index("Current State", inplace=True)

In [25]:
mealy_string = "{current_state}, {output}"

In [26]:
mealy_zero = []
mealy_one = []

In [27]:
for index in range(0, 3):
    mealy_zero.append(mealy_string.format(current_state=moore_machine['0'][index], output=moore_dictionary[moore_machine['0'][index]]))
    mealy_one.append(mealy_string.format(current_state=moore_machine['1'][index], output=moore_dictionary[moore_machine['1'][index]]))

In [28]:
mealy_machine = {"Current State": current_state, "0": mealy_zero, "1": mealy_one}

In [29]:
mealy_machine = pd.DataFrame(mealy_machine)
mealy_machine.set_index("Current State", inplace=True)

In [30]:
moore_machine

               0  1  Output
Current State
A              A  B       0
B              C  A       1
C              A  B       0

In [31]:
mealy_machine

                  0     1
Current State
A              A, 0  B, 1
B              C, 0  A, 0
C              A, 0  B, 1